<br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
      <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <a href="#" class="pull-right">markdown语法说明</a>
      <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <a href="#" class="pull-right">匿名讨论版说明</a>
      <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <a href="#" class="pull-right">万事屋?万世屋</a>
      <hr/>
      <span class="muted pull-right">一点微小的工作。&nbsp;&nbsp;&nbsp;&nbsp;</span><br/>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <div class="span3">
    </div>
  </div>
</div>
