<%= render 'comments/head'%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
      <h3 class="text-center muted">
        万事屋?万世屋
      </h3>
      <p>

        已知：<br/><br/>
        <blockquote class="muted">
          <p>1分(min)=60秒(s)</p>
          <p>1时(h)=3600秒(s)</p>
          <p>1时(h)=3600秒(s)</p>
          <p>1天(d)=86400秒(s)</p>
          <p>1周(week)=604800秒(s)</p>
          <p>1年(yr)=31536000秒(s)</p>
          <p>1世(300yr)=9460800000秒(s)</p>
        </blockquote>
        那么，多少秒才是万世呢。。</br>
        在这个度娘企鹅越来越奇怪的年份，做一点微小的贡献，留一块暂时不会被监察的土地。</br>

      </p>
    </div>
    <div class="span3">
    </div>
  </div>
</div>

<%= render 'comments/foot'%>
