<%= render 'comments/head'%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
      <h3 class="text-center text-warning">
        匿名讨论版说明
      </h3>
      <p>
      <p class="text-warning">
        一个留言板。<br/>
        签入时Nickname可以完全为空，此时用户名为Anonymous。<br/>
        如果你想占有某个Nickname，写入可以提供下次使用的VerifyWord，若该Nickname连续一个月未活动，则该Nickname将被释放可供他人使用。
      </p>
      </p>
    </div>
    <div class="span3">
    </div>
  </div>
</div>

<%= render 'comments/foot'%>
